{% macro input_field(id, type, label, placeholder) %}
    
    <div class="form-floating control-group">
        
        {% if type === 'textarea' %}
            <textarea class="form-control" 
                      id="{{ id }}" 
                      name="{{ id }}"
                      placeholder="{{ placeholder }}" 
                      style="height: 12rem"
                      data-sb-validations="required"></textarea>
        
        {% else %}
            <input class="form-control" 
                   id="{{ id }}" 
                   name="{{ id }}"
                   type="{{ type }}" 
                   placeholder="{{ placeholder }}"
                   data-sb-validations="required" />
        {% endif %}
        
        <label for="{{ id }}">{{ label }}</label>
        
        <div class="invalid-feedback" data-sb-feedback="{{ id }}:required">
            A {{ label | lower }} is required.
        </div>

        {% if type === 'email' %}
            <div class="invalid-feedback" data-sb-feedback="{{ id }}:email">
                Email is not valid.
            </div>
        {% endif %}
    </div>
{% endmacro %}